@using Spg.KaufMyStuff.DomainModel.Dtos;

@model IEnumerable<ProductDto>

<h1>Liste aller Produkte :)</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>EAN</th>
            <th>Ablaufdatum</th>
            <th>Anz. Warenk.</th>
            <th>ID's</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ProductDto product in Model)
        {
            string ids = string.Join(", ", product.ShoppingCartItems.Select(p => p.Id.ToString()));
            string color = "";
            if (product.ShoppingCartItems.Count == 0)
            {
                color = "red";
            }

            <tr style="background-color: @color">
                <td>@product.ProductName</td>
                <td>@product.Ean13</td>
                <td>@product.ExpiryDate.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
                <td>@product.ShoppingCartItemsCount</td>
                <td>@ids</td>
            </tr>
        }
    </tbody>
</table>

<button asp-controller="Home" asp-action="Index" class="btn btn-secondary">Home</button>

@section Scripts
{

}